{% extends 'statusForm.html' %}  


    {% block content %}
   <!--  <form action="" method="GET"> 
      <input type="number" name="trainNo" placeholder="Enter Train Number">
      <br>
      <button type="submit">Submit</button>
    </form> -->
    <p>Train Number: {{train_obj.train_no}}</p>
    <br>
    <p>Train Name: {{train_obj.train_name}}</p>
    <br>
    <p>Destintion: {{train_obj.destination}}</p>
    <br> 
    <p>Source: {{train_obj.source}}</p>
     <br> <br> <br>
    <h2>TRAIN STATUS</h2>
    <table>
    	<tr>
    		<th>Station Name</th>
    		<th>Arrival Time</th>
    	</tr>
    	{% for i in route %}
    	<tr>
	    	<th>{{i.station_name}}</th>
	    	<th>{{i.arrival_time}}</th>
    	</tr>
    	{% endfor %}
    </table>
    <p>{{stn_pass}}</p>
    {% endblock %}
