<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registeration Form | Book Your Train</title>
</head>
<body>
  <h2 style="color:#414d5f">Fill out the form!</h2>
  <div class = "container">
      <form method="POST">
      {{ form.as_p }}
          {% csrf_token %}
          <input type="submit" class="btn btn-primary" value="Submit">
      </form>
  </div>



</body>
</html>
 <script>
  $(function() {
    $( ".datepicker" ).datepicker({
      changeMonth: true,
      changeYear: true,
      yearRange: "1990:2021",
      // You can put more options here.

    });
  });
  </script>
