<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width= device-width">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css"/>
    <title>BookYourTrain | User</title>
  </head>
  <body>
    <header>
      <nav class='cf'>
      <ul class='cf'>
        <li class="pull-left">
          <a href='#findTrains'>User Name</a>
        </li>
        <li class="pull-right">
          <a href='#checkPNR'>Logout</a>
        </li>
      </ul>
      </nav>
    </header>
    <div class="container userOptions">
        <a href='#'><button> <span>Book Ticket</span></button></a>
        <a href='#'><button><span>Check PNR</span></button></a>
        <a href='#'><button><span>Cancel Ticket</span></button></a>
    </div>

  </body>
</html>
