@import url('https://fonts.googleapis.com/css?family=Lobster|Viga');

body {
  font-family: 'PT Sans', sans-serif;
  background-color: #eee;
  margin: 0;
}
/*showcase*/
#showcase{
  margin: 0;
  padding: 0;
  background: url(imgs/bg_showcase.jpeg) no-repeat center/cover;
  width: 100%;
  height: 100vh;
  position: relative;
}

#showcase .container{
  margin-top: 25vh;
}

#showcase h1{
  color: #b30000;
  font-size: 4.5rem;
  font-family: 'Viga', sans-serif;
}

#showcase h2{
  color: #b30000;
  font-size: 2rem;
  font-family: 'Lobster', cursive;
}

.grid{
  display: grid;
  grid-gap: 25vw;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
}

.form-box{
  width: 20vw;
  height: 400px;
  margin-top: 160px;
  padding: 50px 10px;
  border: 2px inset black;
  float: left;
}

#user-dashboard{
  margin: 0;
  padding: 0;
  background: url(imgs/pnr.jpg) no-repeat center/cover;
  width: 100%;
  height: 100vh;
  position: relative;
}

h2 {
  width: 100%;
  font-size: 26px;
  text-align: center;
}




/*utility classes*/

.container{
  width: 40vw;
  text-align: center;
  margin: 0 auto;
  padding: 0 3rem;
}

.section{
  padding:0 2rem;
}

nav {
  height: 40px;
  width: 100%;
  background-color: #000066;
  color: #eee;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  float: right;
}
nav a {
  display: inline-block;
  width: 100px;
  text-align: center;
  text-decoration: none;
  padding: 10px 2px;
  color: #eee;
}
nav li:hover {
  background-color:  #000080;
  color: inherit;
  text-decoration: none;
}

.userOptions{
  margin-left: 6px;
  padding: 10rem;
}

.userOptions button{
  display: block;
  width: 25vw;
  height: 120px;
  border: none;
  margin: 4rem;
  background-image: linear-gradient(#b30000,#ff4d4d);
  transition: all 0.5s;
}

.userOptions a{
  text-decoration: none;
  color: #eee;
  text-align: center;
  font-size: 3rem;
}

 span {
  cursor: pointer;
  display: block;
  position: relative;
  transition: 0.5s;
}

 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

nav a#openup {
  display: none;
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 2.8em;
  }

  nav {
    height: auto;
    border-bottom: 0;
  }
  nav ul {
    display: none;
    height: auto;
  }
  nav li {
    width: 100%;
    float: left;
    position: relative;
  }
  nav a {
    text-align: left;
    width: 100%;
    text-indent: 25px;
    background: #333;
    border-bottom: 1px solid #555;
  }
  nav a:hover {
    background: #444;
  }
  nav a#openup:after {
    content: "|||";
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    /* IE 9 */
    -webkit-transform: rotate(-90deg);
    /* Safari and Chrome */
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 20px;
  }
  nav a#openup {
    display: block;
    background-color: #333;
    width: 100%;
    position: relative;
  }
}
.cf:before, .cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
