<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width= device-width">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css"/>
    <title>BookYourTrain | Home</title>
  </head>
  <body>
  	 <header>
        <nav class='cf'>
        <ul class='cf'>
          <li>
            <a href='#findTrains'>Find Trains</a>
          </li>
          <li>
            <a href='#checkPNR'>Check PNR</a>
          </li>
          <li>
            <a href='#checkStatus'>Check Status</a>
          </li>
          <li>
            <a href='#login'>Signup</a>
          </li>
          <li>
            <a href='#showcase'>BYTrain</a>
          </li>
        </ul>
        <a href='#' id='openup'>MENU</a>
        </nav>
    </header>
    {% block content %}
    <form action="" method="GET"> 
      <input type="number" name="trainNo" placeholder="Enter Train Number">
      <br>
      <button type="submit">Submit</button>
    </form>
    {% endblock %}
  </body>
  </html>