{% extends 'statusForm.html' %}  


    {% block content %}
    <form action="" method="GET"> 
      <input type="text" name="src" placeholder="From">
      <br>
      <input type="text" name="dest" placeholder="To">
      <br>
      <button type="submit">Get Trains</button>
    </form>
    <h2>TRAIN OPTIONS</h2>
    <span>

        
    </span>
    <div class="ftTable">
        <div>
            <h2>Train Number</h2>
        {% for i in train_list %}
            <br>
            <h3>{{i.train_no}}</h3>   
            {% endfor %}<br>
        </div>
        <div>
            <h2>Train Name</h2>
            {% for i in train_list %}
            <br>
            <td>{{i.train_name}}</td>
            {% endfor %}
        </div>
        <div>
            <h2>{{src}}</h2>
            {% for i in dept_list %}
            <td>{{i}}</td>
            <br>
            {% endfor %}
        </div>
        <div>
            <h2>{{dest}}</h2>
            {% for i in arr_list %}
            <td>{{i}}</td>
            <br>
            {% endfor %}
        </div> 
    </div>
   <!--  <table>
    	<tr>
    		<th>Train Number</th>
    		<th>Train Name</th>
            <th>{{src}}</th>
            <th>{{dest}} </th>
    	</tr>

        <tr>
            {% for i in train_list %}
            <br>
            <td>{{i.train_no}}</td>   
            {% endfor %}<br>
        </tr>
        <tr>
            {% for i in train_list %}
            <br>
            <td>{{i.train_name}}</td>
            {% endfor %}
        </tr>
        <tr>
            {% for i in dept_list %}
            <td>{{i}}</td>
            <br>
            {% endfor %}
        </tr>
        <tr>
            {% for i in arr_list %}
            <td>{{i}}</td>
            <br>
            {% endfor %}
        </tr>
    	
    </table> -->
    {% endblock %}